OLLAMA_API_KEY=
INFERECO_API_KEY=
DB_URL=jdbc:postgresql://localhost:5432/jobsearcher
DB_USER=jobsearcher
DB_PASSWORD=jobsearcher
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/jobsearcher
SECURITY_PERMIT_ALL=false
